{% extends "music/layout.html" %}

{% block body %}
<center>
    <h1>Search for Songs</h1>
    <br><br>
    <form action="{% url 'result' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
<input autofocus class="form-control" style= "width: 50%;" type="text" name="artist_name" id="searchInput" placeholder="Enter artist name">
        </div></center>
        <center>
            <button  type="submit">Search</button><br>
        <div id="results"></div>
    </form>
    <div name= "results" id = "results"></div></center>
    <script src="static/search.js"></script>
{% endblock %}
